* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  max-width: 1280px;
  margin: 0px auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  margin: 0px 40px 0px 40px;
}

.header {
  width: 100%;
  padding: 30px 0px;
}

.header__row {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 0px 20px 0px 0px;
  min-width: 206px;
  margin: 0px auto 0px 0px;
}

.header__logo p {
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
  font-family: 'Arial';
}

.header__logo span {
  font-size: 32px;
  line-height: 110%;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  font-family: 'Georgia';
}

.header__menu {
  height: 100%;
  width: 443px;
  display: flex;
  align-items: center;
}

.header__menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__menu ul li:hover a {
  color: #292929;
}

.header__menu ul li:active {
  border-bottom: 3px solid #F1CDB3;
  color: #545454;
}

.header__menu ul li:nth-child(2) {
  border-bottom: 3px solid #F1CDB3;
}

.header__menu ul li a {
  text-align: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
}

.our-friend {
  padding: 0px 0px 100px 0px;
  letter-spacing: 0.06em;
  font-family: 'Georgia';
  width: 100%;
  background-color: #F6F6F6;
}

.our-friend__heading {
  width: 100%;
  padding: 80px 0px 45px 0px;
  display: flex;
  justify-content: center;
}

.our-friend__heading h3 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  max-width: 400px;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}

.our-friend__slider {
  margin: 0px 0px 0px 0px;
}

.our-friend__row {
  display: grid;
  grid-template-columns: repeat(4, 23.4%);
  justify-content: space-between;
  margin: 0px 0px 45px 0px;
}

.our-friend__item {
  margin: 15px 5px 15px 5px;
  background: #FAFAFA;
  border-radius: 9px 9px 0px 0px;
}

.our-friend__item:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.08);
}

.our-friend__img {
  max-width: 270px;
  max-height: 270px;
}

.our-friend__img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.our-friend__name {
  margin: 30px 0px 30px 0px;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}

.our-friend__item-button {
  margin: 0px auto 30px auto;
  max-width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
}

.our-friend__item-button:hover {
  background: #FDDCC4;
  border-radius: 100px;
  border: 2px solid #FDDCC4;
}

.our-friend__item-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  font-weight: 400;
}

.our-friend__slider-arrows {
  margin: 0px auto;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
}

.our-friend__duble-arrow-left {
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 100px;
}

.our-friend__duble-arrow-left a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.our-friend__duble-arrow-left img {
  width: 27px;
  height: 23px;
}

.our-friend__arrow-left {
  width: 52px;
  height: 52px;
  border: 2px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 100px;
}

.our-friend__arrow-left a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.our-friend__arrow-left img {
  width: 13px;
  height: 26px;
}

.our-friend__counter {
  width: 52px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
}

.our-friend__counter p {
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

.our-friend__arrow-right {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}

.our-friend__arrow-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.our-friend__arrow-right img {
  width: 13px;
  height: 26px;
}

.our-friend__duble-arrow-right {
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}

.our-friend__duble-arrow-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.our-friend__duble-arrow-right img {
  width: 27px;
  height: 23px;
}

.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer__content {
  padding: 40px 0px 0px 0px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer h5 {
  margin: 0px 0px 0px 0px;
  width: 100%;
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #FFFFFF;
}

.footer__contacts {
  max-width: 278px;
  margin: 14px 10px 10px 0px;
}

.footer__maile {
  margin: 40px 0px 40px 0px;
}

.footer__maile a {
  display: flex;
}

.footer__maile img {
  width: 40px;
  height: 26px;
}

.footer__logo {
  margin: 0px 20px 0px 0px;
  align-self: center;
  max-width: 40px;
}

.footer__text {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  font-family: 'Georgia';
}

.footer__phone a {
  display: flex;
}

.footer__locations {
  max-width: 302px;
  margin: 14px 5px 10px 10px;
}

.footer__boston {
  display: flex;
  margin: 34px 0px 32px 0px;
}

.footer__london {
  display: flex;
}

.footer__img {
  max-width: 300px;
  max-height: 310px;
  display: flex;
  align-self: flex-end;
}

.footer__img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    margin: 0px 30px 0px 30px;
  }
  body {
    max-width: 768px;
  }
  .our-friend {
    padding: 0px 0px 76px 0px;
  }
  .our-friend__heading {
    padding: 80px 0px 15px 0px;
  }
  .our-friend__slider {
    max-width: 580px;
    margin: 0px auto;
  }
  .our-friend__row {
    display: grid;
    grid-template-columns: repeat(2, 48.28%);
    justify-content: space-between;
    margin: 0px 0px 25px 0px;
  }
  .footer {
    padding: 0px 0px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    object-fit: contain;
  }
  .footer p {
    margin: 0px 0px 0px 0px;
  }
  .footer__content {
    padding: 30px 0px 0px 0px;
  }
  .footer__row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "mail adres" "dog dog";
    justify-content: space-between;
  }
  .footer__contacts {
    margin: 0px 20px 0px 34px;
  }
  .footer__maile {
    grid-area: mail;
  }
  .footer__locations {
    margin: 0px 34px 0px 20px;
    grid-area: adres;
  }
  .footer__img {
    margin: 55px 0px 0px 0px;
    grid-area: dog;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
  .footer__img img {
    object-fit: contain;
    width: 300px;
    height: 310px;
  }
}

@media (max-width: 660px) {
  .header__menu {
    display: none;
  }
  .footer__row {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .footer h5 {
    text-align: start;
  }
  .footer__contacts {
    max-width: 300px;
    margin: 0px 0px 0px 0px;
  }
  .footer__phone {
    margin: 0px 0px 40px 0px;
  }
  .footer__locations {
    margin: 0px 0px 0px 0px;
  }
  .footer__boston {
    margin: 40px 0px 40px 0px;
  }
  .footer__img {
    margin: 40px 0px 0px 0px;
    max-width: 300px;
    max-height: 310px;
    display: flex;
    align-self: flex-end;
  }
  .footer__img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 320px) {
  .container {
    margin: 0px 10px 0px 10px;
  }
  .our-friend {
    padding: 0px 0px 42px 0px;
    letter-spacing: 0.06em;
  }
  .our-friend__heading {
    width: 100%;
    padding: 42px 0px 30px 0px;
  }
  .our-friend__heading h3 {
    max-width: 100%;
    font-size: 25px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
  }
  .our-friend__row {
    display: grid;
    grid-template-columns: repeat(1, 280px);
    justify-content: center;
    margin: 0px 0px 30px 0px;
  }
  .our-friend__slider-arrows {
    margin: 0px auto;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
  }
  .footer__row {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer h5 {
    margin: 0px auto;
    max-width: 270px;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
  .footer__contacts {
    max-width: 300px;
    margin: 0px 0px 0px 0px;
  }
  .footer__maile a {
    max-width: 254px;
    margin: 0px auto;
  }
  .footer__phone a {
    max-width: 239px;
    margin: 0px auto;
  }
  .footer__img {
    margin: 45px auto 0px auto;
    max-width: 260px;
    max-height: 269px;
  }
}
